@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  .container-fluid {
    overflow: hidden;
    height: 100vh;
  }
}

.description {
  text-align: justify;
}

section:not(:first-child) {
  border-top: 3px dashed #000;
  padding-top: 1rem;
  padding-inline: 1rem;
}

.test {
  border: 2px solid #999;
  border-radius: 1rem;
  padding: 1rem;
}

.test:not(:first-of-type) {
  margin-top: 1.5rem;
}

.test .input-group-text {
  width: 70px;
}

button.edit-btn {
  width: 90px;
}
