@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  .container-fluid {
    overflow: hidden;
    height: 100vh;
  }
}

.description {
  text-align: justify;
}

section:not(:first-child) {
  border-top: 3px dashed #000;
  padding-top: 1rem;
  padding-inline: 1rem;
}

.test {
  border: 2px solid #999;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
}

.test:not(:first-of-type) {
  margin-top: 1.5rem;
}

.test .input-group-text {
  width: 120px;
}

button.edit-btn {
  width: 175px;
}

.test .close {
  position: absolute;
  font-weight: bold;
  top: 0px;
  right: 2px;
  color: #000;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.265s;
  user-select: none;
}

.test:hover .close {
  color: #dc3545;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.btn-check-all {
  border-radius: 7px;
  font-size: 18px;
  background-color: black;
  color: #fff;
  height: 55px;
  width: 170px;
  border: none;
  margin-right: 480px;
}
